#editor {
  position: absolute;
  top: 20%;
  right: 15%;
  bottom: 10%;
  left: 15%;
  display: none;
}

.controls {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.select-input{
  height: 30px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #64CEAA;
}
form{
  display: inline-block;
}
#input{
  height: 24px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid orange;
  display:inline-block;
  padding-right:10px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border: 5px solid #bd7070cc;
  border-radius: 50%;
  border-top: 10px solid rgba(16, 17, 17, 0.445);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


h2 {
  text-align: center;
  font-family: 'Lato', cursive;
  font-size: 30px;
  margin-top: 85px;
  color: rgba(15, 10, 10, 0.514);
}
